<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aeropay_merchant"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".Utilities.MyFirebaseMessagingService_APSDK">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.PinEnterActivity_APSDK" />
        <activity
            android:name=".activity.HomeActivity_APSDK"
            android:launchMode="singleTask" />
        <activity android:name=".activity.FastLoginActivity_APSDK" />
        <activity
            android:name=".activity.SettingsScreenActivity_APSDK"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activity.NavigationMenuActivity_APSDK" />
        <activity
            android:name=".activity.BaseActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activity.SignInCredentialActivity_APSDK" />
        <activity android:name=".activity.SignInScreenActivity_APSDK" />
        <activity android:name=".activity.SplashActivity_APSDK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>